jupytext

matplotlib
numpy
scipy
pandas

#plotly is a rich HTML5 charting library
plotly
#Cufflinks providings pandas bindings for pandas dataframes
cufflinks

#We need to enable the qgrid extension in postBuild in order to display it
qgrid

#Stats packages
seaborn
statsmodels

sklearn

#Piecewise linear models
pwlf

tqdm
